	* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

html {
	font-size: 62.5%;
}

@media(max-width: 1080px) {
	html {
		font-size: 50%;
	}
}

body {
	font-size: 1.6rem;
}

.header {
	padding: 2rem 4rem;
	border-bottom: 1px solid RGBa(0, 0, 0, .2);
}



.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul {
	line-height: 1.5;
}

.nav ul{
	list-style: none;
	display: flex;
	gap: 2rem;
}

.btn-primary {
	width: fit-content;
	text-decoration: none;
	padding: 1rem;
	color:  white;
	border-radius: 5px;
	background-color: green;
}

@media(max-width: 470px) {
	.sign-in-btn {
		display: none;
	}
}

@media(max-width: 360px) {
    .btn-container {
        flex-direction: column;
	}
    
        .header {
            padding-left: 0;
            padding-right: 0;
        }
}

.section  {
	padding: 6rem 4rem;
	margin-top: 2rem;
}

.section--1 {
	display: flex;
	justify-content: space-between;
}

.hero--text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex-basis: 50%;
}

.caption {
	background-color: RGBa(0, 0,  0,  .2);
	width: fit-content;
	padding: 1rem;
	border-radius: 20px;
}

.hero--text li {
	list-style: none;
}

.list-icon {
	color: green;
}

@media(max-width: 380px) {
	.caption {
		font-size: 1rem;
	}

	.text-container {
		align-items: flex-start;
	}
}

@media(max-width: 290px) {
	.caption {
		font-size: 0.9rem;
	}
}

.btn-container {
	display: flex;
	gap: 3rem;
}

.btn-secondary {
	width: fit-content;
	text-decoration: none;
	padding: 1rem;
	border-radius: 5px;
	background-color: white;
	border: 1px solid black;
	color: black;
}

.img--container {
	align-self: center;
}

.img--container img {
	border-radius: 10px;
}


@media(max-width: 1024px) {
	.img--container img{
		width: 300px;
		height: 250px;
	}
}

@media(max-width: 780px) {
	.img--container {
		display: none;
	}

	.hero--text {
		flex-basis: 100%;
	}

	.nav ul {
		display: none;
	}
}

.section--2 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	background-color: lightblue;
}

.section--title {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.section--title h1 {
	text-align: center;
}

.cards {
	display: flex;
	gap: 40px;
}

@media(max-width: 800px) {
	.cards {
		flex-wrap: wrap;
	}
}

.card {
	background-color: white;
	width: 100%;
	padding: 4rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.card .icon {
	background: RGBa(0, 0, 0, .2);
	width: fit-content;
	padding: 1rem;
	border-radius: 5px;
}

.card .icon i {
	color: green;
}

.section--3 {
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.section--3 .card{
	border: 1px solid RGBa(0, 0, 0, .2);
}

.footer {
	background-color: lightblue;
	padding: 6rem 4rem;
}

.text-container {
	background-color: green;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	font-size: 1.8rem;
	color: white;
	padding: 6rem 4rem;
	border-radius: 8px;
	text-align: center;
}

.text-container p {
	line-height: 1.5;
	padding: 0 28rem;
}

@media(max-width: 900px) {
	.text-container p {
		padding: 0;
	}

	.footer {
		padding: 0;
		
	}

	.text-container {
		border-radius: 0;
	}
}

@media(max-width: 450px) {
	.text-container {
		font-size: 1.2rem;
	}
}

/* @media(max-width: 270px) {
	.section--title {
		align-items: flex-start;
		text-align: left;
	}
} */

@media(max-width: 290px) {
	.section--title {
		align-items: flex-start;
		font-size: 1.2rem;
		text-align: left;
	}
}

.logo-wrapper {
	display: flex;
    gap: 5px;
    align-items: center;
}

.icon-logo {
	color: green;
	font-size: 30px;
}